/* XL */
@media screen and (min-width: 1200px) {
    .toggle-menu,
    .mobile-header,
    .show-on-mobile {
        display: none;
    }
}

/* PC */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .toggle-menu,
    .mobile-header,
    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .header__navbar ul,
    .header__navbar .action {
        display: none;
    }

    .toggle-menu svg {
        width: 50px;
        height: 24px;
    }

    .header__navbar {
        padding: 60px 0 20px;
    }

    .header__navbar .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 16px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ccc;
    }

    .hero__body {
        display: flex;
        flex-direction: column;
    }

    .hero .text__title,
    .hero .text__desc {
        width: 60%;
    }

    .hero .text {
        padding-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero .content {
        margin-top: 40px;
        width: 100%;
    }

    .hero .content img {
        width: 80%;
    }

    .feature__content--title,
    .feature__content--desc {
        width: 80%;
    }

    .feature__content--group {
        column-gap: 120px;
    }

    .course__body--group img {
        opacity: 1;
    }

    .show-on-mobile {
        display: flex;
        margin-top: 120px;
        z-index: 2;
    }

    .course__body--link {
        display: none;
    }

    .view-all {
        color: #1ebfc1;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: underline;
    }

    .countdown__content {
        width: 100%;
        gap: 50px;
    }

    .testimonial__body {
        flex-direction: column;
        align-items: center;
    }

    .testimonial .quotes,
    .avatars {
        width: 90%;
    }

    .testimonial .quotes {
        order: 2;
    }

    .avatars {
        order: 1;
    }

    .quote__author {
        text-align: center;
    }

    .quote__icons {
        justify-content: center;
    }

    .cta .btn {
        margin-left: 15%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .course__body--group {
        grid-template-columns: 1fr 1fr;
        row-gap: 120px;
    }

    .feature__content--group {
        row-gap: 60px;
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hero .content {
        display: none;
    }

    .feature__content--group {
        row-gap: 60px;
        grid-template-columns: 1fr;
    }

    .feature__content--group--item .desc {
        width: 80%;
    }

    .course__body--group {
        grid-template-columns: 1fr;
        row-gap: 120px;
    }

    .countdown__content {
        width: 100%;
        gap: 10px;
    }

    .countdown__content--item .quantity {
        font-size: 5rem;
        font-weight: 700;
    }

    .countdown__content--item .desc {
        font-size: 1.4rem;
    }

    .avatars {
        display: none;
    }

    .cta .btn {
        margin-left: 5%;
    }
}
