* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #1ebfc1;
}

/* ========== Common ==========*/
a {
    text-decoration: none;
    color: unset;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-weight: 600;
    padding: 20px 41px;
    min-width: 186px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/* ========== Header ==========*/
.header {
    position: sticky;
    top: -40px;
    z-index: 1;
    background-color: #fff;
}

.header__navbar {
    display: flex;
    padding: 52px 0 12px;
    justify-content: space-between;
    align-items: center;
}

.header__navbar ul {
    display: flex;
}

.header__navbar .list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 24px;
}

.header__navbar .list a:hover,
.action__sign-in:hover {
    text-shadow: 0.8px 0 0 currentColor;
    color: #2f3a3b;
}

.action__sign-in {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 24px;
}

.action__sign-up {
    padding: 12px 24px;
    min-width: 108px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    transition: 0.4s ease-in-out;
}

.action__sign-up:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* ========== Hero ==========*/
.hero__body {
    display: flex;
    padding: 40px 0 80px;
}

.hero .text {
    padding-top: 93px;
    width: 45%;
}

.hero .text__funny {
    text-transform: uppercase;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .text__title {
    margin-top: 18px;
    width: 458px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}
.hero .text__desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 400;
    overflow-wrap: normal;
}

.text__cta {
    margin-top: 52px;
}

.text__cta .text_play img {
    width: 62px;
    height: 62px;
}

.text__cta button {
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.text_cta--play {
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.text_cta--play:hover {
    border: 1px solid var(--primary-color);
}

.hero .content {
    position: relative;
    width: 55%;
}

.hero .content__img {
    margin-left: 65px;
    background-color: #def6f5;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

/* content__course icon */
.content__course {
    display: flex;
    position: absolute;
    top: 150px;
    left: 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 17px 25px;
}

.content__course--book-icon {
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    border-radius: 5px 2px 2px 5px;
    padding: 28px 4px 0;
}

.content__course--line {
    width: 28px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
}

.content_course--desc {
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px;
}

/* content__schedule icon */
.content__schedule {
    width: 124px;
    height: 132px;
    position: absolute;
    top: 453px;
    left: 0;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    padding-top: 16px;
    text-align: center;
}

.content__schedule--desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.content__schedule--line1,
.content__schedule--line2,
.content__schedule--line3,
.content__schedule--line4 {
    width: 74px;
    height: 6px;
    background-color: #edf1f5;
    border-radius: 5px;
}

.content__schedule--line1,
.content__schedule--line4 {
    margin: 16px auto;
}

.content__schedule--line2 {
    margin: 12px auto;
}

.content__schedule--line3 {
    margin: 10px auto;
}
.content__schedule--line4 {
    width: 26px;
}

.content__schedule--line1--child,
.content__schedule--line2--child,
.content__schedule--line3--child {
    width: 37px;
    height: 6px;
    background-color: #fb9899;
    border-radius: 5px;
}

.content__schedule--line2--child {
    width: 45px;
}

.content__schedule--line3--child {
    width: 30px;
}

/* content__student icon */
.content__student {
    position: absolute;
    top: 500px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 17px 35px;
}

.content__student--desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.content__student--avatars {
    display: flex;
}

.content__student--avatars .avatar {
    display: flex;
    margin-top: 8px;
    margin-left: -10px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.content__student--avatars img:first-child {
    margin-left: unset;
}

.content__student--avatars div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ebfc1;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* ========== Features ==========*/
.feature {
    margin: 130px 0;
}

.feature__content--name {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

.feature__content--title {
    margin-top: 18px;
    width: 56%;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.34;
}

.feature__content--desc {
    margin-top: 18px;
    width: 50%;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.feature__content--group {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
}

.feature__content--group--item .icon {
    width: 102px;
    height: 106px;
}

.feature__content--group--item .heading {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature__content--group--item .desc {
    margin-top: 16px;
    width: 168px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
    font-weight: 400;
}

/* ========== Course ==========*/
.course {
    margin-top: 130px;
}

.course__body--name {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

.course__body--title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.course__body--desc--div {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__body--desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.course__body--link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.course__body--link:hover {
    text-decoration-line: underline;
}

.course__body--group {
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 47px;
}

.course__body--group img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    transition: 0.5s ease-in-out;
}

.course__body--group img:hover {
    opacity: 1;
}

.course__body--group--item--desc {
    width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course__body--group--item--desc .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course__body--group--item--desc .fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.course__body--group--item--desc strong {
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
}

.course__body--group--item--desc .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course__body--quantity {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.course__body--quantity .eclipse {
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1ebfc1;
}
.course__body--quantity .classes {
    margin-right: 8px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course__body--group--item {
    position: relative;
}

.course__body--group--item--desc {
    position: absolute;
    top: 322px;
    left: 17px;
}

/* ========== Countdown ==========*/
.countdown {
    margin-top: 265px;
}

.countdown__content {
    width: 74%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
}

.countdown__content--item .quantity {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.countdown__content--item .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ========== Testimonial ==========*/
.testimonial {
    margin-top: 264px;
}

.testimonial__body {
    display: flex;
    justify-content: space-between;
}

.testimonial .quotes {
    padding: 35px 0;
    width: 36%;
}

.testimonial .quote__icon {
    width: 36px;
    height: 29px;
}

.testimonial .quote__content {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.quote__author {
    margin-top: 33px;
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.quote__author span {
    color: #767e7e;
}

.quote__icons {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.quote__icons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.quote__icons button:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.avatars {
    width: 58%;
    height: 481px;
    position: relative;
}

.avatars__author {
    border-radius: 50%;
    position: absolute;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.avatars__author:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.avatars__author.ps1 {
    background-color: #1ebfc1;
    top: 0;
    left: 144px;
}

.avatars__author.ps2 {
    background-color: #ffc147;
    top: 258px;
    left: 0;
}

.avatars__author.ps3 {
    background-color: #ff8282;
    top: 107px;
    left: 273px;
}

.avatars__author.ps4 {
    background-color: #bf83ff;
    top: 19px;
    right: 0;
}

.avatars__author.ps5 {
    background-color: #ff947a;
    bottom: 0;
    left: 212px;
}

.avatars__author.ps6 {
    background-color: #b1dfdc;
    bottom: 29px;
    right: 32px;
}

/* ========== CTA ==========*/
.cta {
    margin-top: 130px;
    background-color: #def6f5;
}

.cta__body {
    padding-top: 76px;
    padding-bottom: 88px;
    display: flex;
    align-items: center;
}

.cta .content__title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.cta .content__desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.cta .btn {
    margin-left: 36%;
    padding: 25px 41px;
    border: none;
}

/* ========== Footer ==========*/
.footer {
    padding-top: 131px;
    padding-bottom: 50px;
}

.footer__body__row {
    display: flex;
    column-gap: 140px;
}

.footer ul li:first-child {
    margin: 0 0 5px;
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer ul li {
    margin-top: 20px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.footer ul li img {
    margin-right: 5px;
}

.copyright {
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
